useDynLib("gcdnet")

import("Matrix")

export(gcdnet,
cv.gcdnet,
cv.hsvmpath,
cv.logitpath,
cv.sqsvmpath,
predict.gcdnet,
predict.hsvmpath,
predict.logitpath,
predict.sqsvmpath,
coef.gcdnet,
coef.hsvmpath,
coef.sqsvmpath,
coef.logitpath)

S3method("print","gcdnet")
S3method("coef","gcdnet")
S3method("coef","cv.gcdnet")
S3method("plot","gcdnet")
S3method("plot","cv.gcdnet")
S3method("predict","gcdnet")
S3method("predict","cv.gcdnet")


